<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zlkj.visitor.dao.TJsrbqglDao">

	<!-- 分页查询 -->
	<select id="findAllFy" resultType="TJsrk"
		parameterType="com.zlkj.visitor.dto.PulicCxtj">
		select * FROM 
		(select * from entryinfo.t_jsrk
		UNION
		select * from entryinfo.t_htjsrk) t
		<where>
			<if test="bh==0">
				and yxjzrq <![CDATA[<=]]> #{dqsj} 
			</if>
			<if test="bh==1">
				and yxjzrq >= #{dqsj} 
			</if>
			<if test="sfzh!=null and sfzh!=''">
				and sfzh like #{sfzh}
			</if>
			<if test="syr!=null and syr!=''">
				and syr like #{syr}
			</if>
			<if test="kssj!=null and kssj !='' and jssj!=null and jssj!='' ">
				and fqsj >=#{kssj} 
				and fqsj <![CDATA[<=]]>#{jssj}
			</if>
			<if test="ddmcsz!=null and ddmcsz!=''">
				and  
	            <foreach collection="ddmcsz" item="ddmcsz" index="index"
                  open="(" close=")" separator="or">
                  ktxdd like #{ddmcsz}
                </foreach>
			</if>
		</where>
		order by id desc
		limit #{page},#{rows}
	</select>
	<!-- 分页查询总数 -->
	<select id="findAllFyCount" resultType="long"
		parameterType="com.zlkj.visitor.dto.PulicCxtj">
		select count(*) FROM 
		(select * from entryinfo.t_jsrk
		UNION
		select * from entryinfo.t_htjsrk) t
		<where>
			<if test="bh==0">
				and yxjzrq <![CDATA[<=]]> #{dqsj} 
			</if>
			<if test="bh==1">
				and yxjzrq >= #{dqsj} 
			</if>
			<if test="sfzh!=null and sfzh!=''">
				and sfzh like #{sfzh}
			</if>
			<if test="kssj!=null and kssj !='' and jssj!=null and jssj!='' ">
				and fqsj >=#{kssj} 
				and fqsj <![CDATA[<=]]>#{jssj}
			</if>
			<if test="ddmcsz!=null and ddmcsz!=''">
				and  
	            <foreach collection="ddmcsz" item="ddmcsz" index="index"
                  open="(" close=")" separator="or">
                  ktxdd like #{ddmcsz}
                </foreach>
			</if>
		</where>
	</select>	
	<!-- 添加-->
	<insert id="add" parameterType="TJsrk">
		insert into entryinfo.t_jsrk
		<trim suffix=")" prefix="(" suffixOverrides=",">
			<if test="syr !=null">
				syr,
			</if>
			<if test="sex !=null" >
				sex,
			</if>
			<if test="gj !=null" >
				gj,
			</if>
			<if test="sfzh !=null" >
				sfzh,
			</if>
			<if test="zjcx !=null" >
				zjcx,
			</if>
			<if test="dabh !=null" >
				dabh,
			</if>
			<if test="zt !=null" >
				zt,
			</if>
			<if test="fqsj !=null" >
				fqsj,
			</if>
			<if test="ssdw !=null" >
				ssdw,
			</if>
			<if test="je !=null" >
				je,
			</if>
			<if test="nwb !=null" >
				nwb,
			</if>
			<if test="ktxdd !=null" >
				ktxdd,
			</if>
			<if test="cphm !=null" >
				cphm,
			</if>
			<if test="yxjzrq !=null" >
				yxjzrq,
			</if>
			<if test="ld !=null" >
				ld,
			</if>
			<if test="sctpdz !=null" >
				sctpdz,
			</if>
			<if test="dqsj !=null" >
				dqsj,
			</if>
			<if test="fzrq !=null" >
				fzrq,
			</if>
		</trim>
		<trim suffix=")" prefix=" values (" suffixOverrides=",">
			<if test="syr !=null">
				#{syr},
			</if>
			<if test="sex !=null" >
				#{sex},
			</if>
			<if test="gj !=null" >
				#{gj},
			</if>
			<if test="sfzh !=null" >
				#{sfzh},
			</if>
			<if test="zjcx !=null" >
				#{zjcx},
			</if>
			<if test="dabh !=null" >
				#{dabh},
			</if>
			<if test="zt !=null" >
				#{zt},
			</if>
			<if test="fqsj !=null" >
				#{fqsj},
			</if>
			<if test="ssdw !=null" >
				#{ssdw},
			</if>
			<if test="je !=null" >
				#{je},
			</if>
			<if test="nwb !=null" >
				#{nwb},
			</if>
			<if test="ktxdd !=null" >
				#{ktxdd},
			</if>
			<if test="cphm !=null" >
				#{cphm},
			</if>
			<if test="yxjzrq !=null" >
				#{yxjzrq},
			</if>
			<if test="ld !=null" >
				#{ld},
			</if>
			<if test="sctpdz !=null" >
				#{sctpdz},
			</if>
			<if test="dqsj !=null" >
				#{dqsj},
			</if>
			<if test="fzrq !=null" >
				#{fzrq},
			</if>
		</trim>
	</insert>
	<!-- 添加 end -->
	<!-- 注销信息 -->
   	 <update id="zhuxiao">
		update entryinfo.t_jsrk set yxjzrq = #{1} where id = #{0}
	</update>
    <!-- 注销信息 end -->	
    
    <!-- 删除信息 -->
    <delete id="delete">
    	delete from 
    	entryinfo.t_jsrk WHERE id in
    	<foreach collection="array" index="index" item="item"  open="(" separator="," close=")">
			#{item}
		</foreach>
   	 </delete>
    <!-- 删除信息end -->
	<!-- 验证身份证的唯一 -->
	<select id="findBySfzh" resultType="TJsrk">
		select * from entryinfo.t_jsrk where sfzh=#{0}
	</select>	
	<!-- 根据id查询 -->
	<select id="findById" resultType="TJsrk">
	<!-- 
		select * FROM 
		(select * from entryinfo.t_jsrk
		UNION
		select * from entryinfo.t_htjsrk) t
	 -->
		select * from entryinfo.t_jsrk
		where id=#{0}
	</select>	
	<!-- 根据id和身份证号查询 -->
	<select id="findByIdAndSfzh" resultType="TJsrk">
		select * FROM 
		(select * from entryinfo.t_jsrk
		UNION
		select * from entryinfo.t_htjsrk) t
		
		where id=#{0} and sfzh=#{1}
	</select>	
	<!-- 修改信息 -->
	<update id="update">
		update entryinfo.t_jsrk
		<set>
			<if test="sfzh !=null">
				sfzh=#{sfzh},
			</if>
			<if test="syr !=null">
				syr=#{syr},
			</if>
			<if test="sex !=null" >
				sex=#{sex},
			</if>
			<if test="gj !=null" >
				gj=#{gj},
			</if>
			<if test="zjcx !=null" >
				zjcx=#{zjcx},
			</if>
			<if test="dabh !=null" >
				dabh=#{dabh},
			</if>
			<if test="zt !=null" >
				zt=#{zt},
			</if>
			<if test="fqsj !=null" >
				fqsj=#{fqsj},
			</if>
			<if test="ssdw !=null" >
				ssdw=#{ssdw},
			</if>
			<if test="je !=null" >
				je=#{je},
			</if>
			<if test="nwb !=null" >
				nwb=#{nwb},
			</if>
			<if test="ktxdd !=null" >
				ktxdd=#{ktxdd},
			</if>
			<if test="cphm !=null" >
				cphm=#{cphm},
			</if>
			<if test="yxjzrq !=null" >
				yxjzrq=#{yxjzrq},
			</if>
			<if test="ld !=null" >
				ld=#{ld},
			</if>
			<if test="sctpdz !=null" >
				sctpdz=#{sctpdz},
			</if>
			<if test="dqsj !=null" >
				dqsj=#{dqsj},
			</if>
			<if test="fzrq !=null" >
				fzrq=#{fzrq},
			</if>
		</set>
		where id=#{id} 
	</update>	
	<!-- 转存添加-->
	<insert id="addZc" parameterType="TJsrk">
		insert into entryinfo.t_htjsrk
		<trim suffix=")" prefix="(" suffixOverrides=",">
			
			<if test="syr !=null">
				syr,
			</if>
			<if test="sex !=null" >
				sex,
			</if>
			<if test="gj !=null" >
				gj,
			</if>
			<if test="sfzh !=null" >
				sfzh,
			</if>
			<if test="zjcx !=null" >
				zjcx,
			</if>
			<if test="dabh !=null" >
				dabh,
			</if>
			<if test="zt !=null" >
				zt,
			</if>
			<if test="fqsj !=null" >
				fqsj,
			</if>
			<if test="zxsj !=null" >
				zxsj,
			</if>
			<if test="ssdw !=null" >
				ssdw,
			</if>
			<if test="je !=null" >
				je,
			</if>
			<if test="nwb !=null" >
				nwb,
			</if>
			<if test="ktxdd !=null" >
				ktxdd,
			</if>
			<if test="cphm !=null" >
				cphm,
			</if>
			<if test="yxjzrq !=null" >
				yxjzrq,
			</if>
			<if test="ld !=null" >
				ld,
			</if>
			<if test="sctpdz !=null" >
				sctpdz,
			</if>
		</trim>
		<trim suffix=")" prefix=" values (" suffixOverrides=",">
			
			<if test="syr !=null">
				#{syr},
			</if>
			<if test="sex !=null" >
				#{sex},
			</if>
			<if test="gj !=null" >
				#{gj},
			</if>
			<if test="sfzh !=null" >
				#{sfzh},
			</if>
			<if test="zjcx !=null" >
				#{zjcx},
			</if>
			<if test="dabh !=null" >
				#{dabh},
			</if>
			<if test="zt !=null" >
				#{zt},
			</if>
			<if test="fqsj !=null" >
				#{fqsj},
			</if>
			<if test="zxsj !=null" >
				#{zxsj},
			</if>
			<if test="ssdw !=null" >
				#{ssdw},
			</if>
			<if test="je !=null" >
				#{je},
			</if>
			<if test="nwb !=null" >
				#{nwb},
			</if>
			<if test="ktxdd !=null" >
				#{ktxdd},
			</if>
			<if test="cphm !=null" >
				#{cphm},
			</if>
			<if test="yxjzrq !=null" >
				#{yxjzrq},
			</if>
			<if test="ld !=null" >
				#{ld},
			</if>
			<if test="sctpdz !=null" >
				#{sctpdz},
			</if>
		</trim>
	</insert>
	<!-- 转存添加 end -->
	
	
	
</mapper>

