body{
	background: #052f79;
	background-image: url("./../images/5.jpg");
	
}
input{
    height: 20px;
    width: 130px;
    border: solid 1px cornflowerblue;

}
#loginForm{
    margin: 20px 25px;
    line-height: 35px;
}
#login-tab tr td{
	padding: 8px;
}
img{
    position: relative;
    top: 5px;
}
#login{
	text-align: center;
}












